@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dart *));


/* ------------ Fonts ------------ */

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/* ------------ Hoop Marker ------------ */

.hoop-emoji {
  font-size: 20px;
  transform: translateY(-0.5px);
}

.hoop-icon-container {
  border: white 2px solid;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  border-radius: 100%;
}

.hoop-icon--excellent { background-color: #22c55e; } /* green-500 */
.hoop-icon--good      { background-color: #3b82f6; } /* blue-500  */
.hoop-icon--fair      { background-color: #f59e0b; } /* amber-500 */
.hoop-icon--poor      { background-color: #ef4444; } /* red-500   */
.hoop-icon--unknown   { background-color: #6b7280; } /* gray-500  */

/* ------------ Theme Directory------------ */

@theme {
  --color-first-color: #F88158ff;
  --color-second-color: #e38f4eff;
  --color-third-color: #c7bfb8ff;
  --color-fourth-color: #a19a93ff;

  --breakpoint-xsm: 480px; /* 30rem */
  --breakpoint-sm: 640px; /* 40rem */
  --breakpoint-md: 768px; /* 48rem */
  --breakpoint-lg: 1024px; /* 64rem */
  --breakpoint-xl: 1280px; /* 80rem */
  --breakpoint-2xl: 1536px; /* 96rem */
}

/* ------------ Other Directory------------ */

@layer components {
  .nav-bar {
    @apply flex items-center justify-between gap-4 h-9;
  }
  .hoop-card-spacer {
    @apply flex items-center gap-2;
  }
}

@layer base {
  h5 {
    @apply text-base font-semibold;
  }
}

@utility flex-center {
  @apply flex justify-center items-center;
}

