### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
*.env

backend-where-to-hoop/node_modules
backend-where-to-hoop/bower_components
frontend-where-to-hoop/bower_components
frontend-where-to-hoop/node_modules
frontend-where-to-hoop/coverage/
frontend-where-to-hoop/dist/

*.sublime*

psd
thumb
sketch
