### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

backend-where-to-hoop/node_modules
backend-where-to-hoop/bower_components
frontend-where-to-hoop/bower_components
frontend-where-to-hoop/node_modules

*.sublime*

psd
thumb
sketch
